







/* * {
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #dedede;
}

h1 {
    fonte-size: 20px;
    text-align: center;
}

p {
    fonte-size: 18px;
}

a {
    text-decoration: none;
}

.social {
    display: inline;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 10px;
}

li {
    display: inline;
    padding: 20px;
}

.icon {
    width: 25px;
    height: 25px;
}

.conteiner img {
    border-radius: 50%;
    margin-bottom: 2px;
}

.conteiner h4 {
    margin-top: 5px;
    margin-bottom: 10px;
}

.conteiner a {
    background-color: #060077;
    color: #7E459B;
    border-radius: 20px;
    text-transform: uppercase;
    margin-top: 20px;
    padding: 10px 20px;
    font-weight: bold;
}

.botao {
    margin-top: 20px;
}

.trabalhos {
    margin: 0 auto;
    width: 100%;
    max-width: 1080px;
    margin-top: 90px;
}
._trabalhos {
    display: flex;
    justify-content: space-evenly;
}

.__trabalhos {
    background-color: #7E459B;
    color: #fff;
    text-align: center;
    padding: 20px;
    width: 400px;
  }