* {
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* TEXTO */
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-size: 16px;
    color: #f5f6f7;
    text-align: center;
    line-height: 1.6rem;
    word-spacing: .12rem;
}

h1, h2, h3, h4 {
    font-weight: 500;
    text-transform: uppercase;
    white-space: nowrap;
}

h1 {
    font-size: 1.75em;
}

h2 {
    font-size: 1.4em;
}

h4 {
    font-size: 1.2em;
    font-weight: 400;
}

p {
    font-size: 1em;
}

a {
    text-decoration: none;
    color: #777;
}

a:hover {
    color: #337ab7;
}

/* BACKGROUNDS */
.what_, .footer {
    background-color: #474e5d;
}

/* TAMANHO DAS IAMGENS */
img {
    width: 300px; 
    height: 200px;
}

/* MARGEM, ALINHAMENTO E DISPOSIÇÃO DOS ELEMENTOS */
.center, .container, .what_, .where-find, ._trabalhos, .footer {
    margin: 0 auto;
}

.container, .what_, .where-find, .footer {
    justify-content: center;
    align-items: center;
}

.container, .what_, ._trabalhos, .footer {
    display: flex;
}

/* NAVBAR */
.navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 5px 0;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: .22rem;
    word-spacing: 1.3rem;
    background-color: #fff;
}

.center {
    max-width: 1100px;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 4px auto;
    padding: 10px;
    text-align: right;
}

li {
    display: inline-block;
}

/* HEADER */
header {
    background-color: #1abc9c;
}

.container {
    width: 100%;
    height: 100vh;
}

.header-info {
    max-width: 32%;
}

/* WHAT */
.what_ {
    height: 400px;
}

.what-info {
    max-width: 80%;
}

/* WHERE */
.where-find {
    padding: 10% 0;
    width: 100%;
    height: 100vh;
    display: center;
    color: #474e5d;
}

._trabalhos {
    max-width: 80%;
    justify-content: space-between;
    align-items: center;
}

.media {
    float: left;
}

.footer {
    height: 200px;
    line-height: 1.6rem;
    word-spacing: .15rem;
}